html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(57, 58, 58);
    margin: 0;
}

h3 {
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
    justify-content: center;
    background: -webkit-linear-gradient(#d4883d, #5f3819);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#header {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    border: 1px solid #f0f2f4;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#header li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    padding-right: 10px;
    align-items: center;
}

#charts {
    padding-left: 15px;
}
#message {
    font-weight: bold;
    color: #d4883a;
}

#message:hover {
    cursor: pointer;
    color: #784820;
}

#logo {
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 30px auto;
    background-color: #ffffff;
    filter: drop-shadow(0 0 0.75rem #cecccc);
    border-radius: 5px;
    margin-top: 3;

}

#bitcoin {
    height: 70px;
}

table {
    width:100%;
}

table > tbody td {
    padding: 11px;
    border-bottom: 1px solid #f0f2f4;
}


table > tbody tr {
    text-align: right;
}

table p {
    margin-top: 0;
    margin-bottom: 0;
}

table > tbody img {
    margin-right: 5px;
    vertical-align: middle;
}


table > thead > tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;


}

.red-text {
 color: red;
}

.green-text {
    color: green;
}